body{
    background-color: lightgray;
}
.page h1{
font-size: 3rem;

}
.page{
    margin-top: 3rem;
    text-align: center;
}
.image{
    width: 20rem;
    height: 20rem;
    border-radius: 20px;
    border: solid;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.click{
border-radius: 1rem;
width: 6rem;
height: 3rem;
background-color: black;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border: none;
}
.click:hover{
    background-color: grey;
}